.vs/
.vsconfig/
Assembly-CSharp.csproj
Library/
Logs/
"Senior Project".sln
Temp/
UserSettings/
obj/
.vsconfig
"Senior Project.sln"
Senior\ Project.sln
SeniorProject1.sln
.collabignore
Eldritch_RogueLike.sln